{% extends 'blog_app/base.html' %}
{% block title %}Blog{% endblock %}
{% block body_block %}

<div class="row">
    <div class="card">
        <h5 class="card-header">{{ post.title }} by <span class="text-primary">{{ post.user.get_full_name }}</span></h5>
        <div class="card-body">
            <h5 class="card-title">Published: {{ post.dateTime }}</h5>
            <p class="card-text">{{ post.content }}</p>
            {% if user.id == post.user.id or user.is_superuser %}
                <a href="{% url 'blog_app:update_blog' post.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'blog_app:delete_blog' post.id %}" class="btn btn-danger mx-4">Delete</a>
            {% endif %}

        </div>
    </div>
</div> 
{% endblock %}