{% extends 'blog_app/base.html' %}
{% block title %}My Profile{% endblock %}
{% block body_block %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                    <div class="card-header justify-content-center">
                        <h1 class="font-weight-light my-4 text-center">My Profile</h1>
                    </div>
                    <div class="card-body">
                        <img src="{{ media_url }}{{ user.userprofileinfo.profile_pic }}" alt="Not displayed" height='200' />
                        <div class="card-body d-flex flex-column">
                            <div class="d-inline">
                                <h1 class="d-inline-block card-title">{{ user.username }}</h1>
                            </div>
                            <div class="d-block">
                                <p class="card-text">Name : {{ user.get_full_name }}</p>
                                <p class="card-text">Email : {{ user.email }}</p>
                                <p class="card-text">Portfolio Site : {{ user.userprofileinfo.portfolio_site }}</p>
                            </div>
                            <div class="d-block">
                                <a href="{% url 'blog_app:edit_profile' %}"><input class="btn btn-secondary" type="button" value="Edit Profile"></a>
                                <a href="{% url 'blog_app:changepass' %}"><input class="btn btn-secondary" type="button" value="Change Password"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}